<h1>Harvest Example</h1>

{% if harvest_auth_url %}
    <h2>You have not authorized access to Harvest for this account.  Please do so below.</h2>
    <a href='{{ harvest_auth_url }}'>Authorize access to Harvest for your account.</a>
{% else %}
    {% if projects %}
        <table style="border: 1px solid black; width: 500px; text-align: left;">
        <tr><th>Name</th><th>Client</th><th>Budget</th></tr>
        {% for p in projects %}
            <tr><td>{{ p.name }}</td><td>{{ p.client.name }}</td><td>{{ p.budget }}</td></tr>
        {% endfor %}
        </table>
    {% else %}
        <h3>You have no projects</h3>
    {% endif %}
{% endif %}